<link href="~/MainMenu/default.css" rel="stylesheet" />
<link href="~/MainMenu/component.css" rel="stylesheet" />
<script src="~/MainMenu/modernizr.custom.js"></script>




<div class="container">
    <div class="main">
        <h1 style="position: fixed; margin-left: -150px; margin-top: -25px">
            <img src="~/images/logo.png" width="200px" /></h1>
        <nav id="cbp-hrmenu" class="cbp-hrmenu">


            <ul>
                <li>
                    <a href="#">Home</a>
                    <div class="cbp-hrsub">
                        <div class="cbp-hrsub-inner">
                            <div>
                                <h4>Learning &amp; Games</h4>
                                <ul>
                                    <li><a href="#">Catch the Bullet</a></li>
                                    <li><a href="#">Snoopydoo</a></li>
                                    <li><a href="#">Fallen Angel</a></li>
                                    <li><a href="#">Sui Maker</a></li>
                                    <li><a href="#">Wave Master</a></li>
                                    <li><a href="#">Golf Pro</a></li>
                                </ul>
                            </div>
                            <div>
                                <h4>Utilities</h4>
                                <ul>
                                    <li><a href="#">Gadget Finder</a></li>
                                    <li><a href="#">Green Tree Express</a></li>
                                    <li><a href="#">Green Tree Pro</a></li>
                                    <li><a href="#">Wobbler 3.0</a></li>
                                    <li><a href="#">Coolkid</a></li>
                                </ul>
                            </div>
                            <div>
                                <h4>Education</h4>
                                <ul>
                                    <li><a href="#">Learn Thai</a></li>
                                    <li><a href="#">Math Genius</a></li>
                                    <li><a href="#">Chemokid</a></li>
                                </ul>

                            </div>
                        </div>
                        <!-- /cbp-hrsub-inner -->
                    </div>
                    <!-- /cbp-hrsub -->
                </li>
                <li>
                    <a href="#">About Us</a>
                    <div class="cbp-hrsub">
                        <div class="cbp-hrsub-inner">
                            <div>
                                <h4>Education &amp; Learning</h4>
                                <ul>
                                    <li><a href="#">Learn Thai</a></li>
                                    <li><a href="#">Math Genius</a></li>
                                    <li><a href="#">Chemokid</a></li>
                                </ul>

                            </div>
                            <div>
                                <h4>Entertainment</h4>
                                <ul>
                                    <li><a href="#">Gadget Finder</a></li>
                                    <li><a href="#">Green Tree Express</a></li>
                                    <li><a href="#">Green Tree Pro</a></li>
                                    <li><a href="#">Holy Cannoli</a></li>
                                    <li><a href="#">Wobbler 3.0</a></li>
                                    <li><a href="#">Coolkid</a></li>
                                </ul>
                            </div>
                            <div>
                                <h4>Games</h4>
                                <ul>
                                    <li><a href="#">Catch the Bullet</a></li>
                                    <li><a href="#">Snoopydoo</a></li>
                                    <li><a href="#">Fallen Angel</a></li>
                                    <li><a href="#">Sui Maker</a></li>
                                    <li><a href="#">Wave Master</a></li>
                                    <li><a href="#">Golf Pro</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- /cbp-hrsub-inner -->
                    </div>
                    <!-- /cbp-hrsub -->
                </li>
                <li>
                    <a href="#">Breed Info</a>
                    <div class="cbp-hrsub">
                        <div class="cbp-hrsub-inner">
                            <div>
                                <h4>Learning &amp; Games</h4>
                                <ul>
                                    <li><a href="#">Catch the Bullet</a></li>
                                    <li><a href="#">Snoopydoo</a></li>
                                </ul>

                            </div>
                            <div>
                                <h4>Education</h4>
                                <ul>
                                    <li><a href="#">Learn Thai</a></li>
                                    <li><a href="#">Math Genius</a></li>
                                    <li><a href="#">Chemokid</a></li>
                                </ul>
                                <h4>Utilities</h4>
                                <ul>
                                    <li><a href="#">Gadget Finder</a></li>
                                    <li><a href="#">Green Tree Express</a></li>
                                    <li><a href="#">Green Tree Pro</a></li>
                                    <li><a href="#">Wobbler 3.0</a></li>
                                    <li><a href="#">Coolkid</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- /cbp-hrsub-inner -->
                    </div>
                    <!-- /cbp-hrsub -->
                </li>
                <li>
                    <a href="#">Founders</a>
                    <div class="cbp-hrsub">
                        <div class="cbp-hrsub-inner">
                            <div>
                                <h4>Learning &amp; Games</h4>
                                <ul>
                                    <li><a href="#">Catch the Bullet</a></li>
                                    <li><a href="#">Snoopydoo</a></li>
                                    <li><a href="#">Fallen Angel</a></li>
                                    <li><a href="#">Sui Maker</a></li>
                                    <li><a href="#">Wave Master</a></li>
                                    <li><a href="#">Golf Pro</a></li>
                                </ul>

                            </div>
                            <div>
                                <h4>Entertainment</h4>
                                <ul>
                                    <li><a href="#">Gadget Finder</a></li>
                                    <li><a href="#">Green Tree Express</a></li>
                                    <li><a href="#">Green Tree Pro</a></li>
                                    <li><a href="#">Holy Cannoli</a></li>
                                    <li><a href="#">Wobbler 3.0</a></li>
                                    <li><a href="#">Coolkid</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- /cbp-hrsub-inner -->
                    </div>
                    <!-- /cbp-hrsub -->
                </li>

            </ul>
        </nav>
    </div>

</div>




<script src="~/MainMenu/cbpHorizontalMenu.min.js"></script>
<script>
    $(function () {
        cbpHorizontalMenu.init();
    });
</script>


<div style="margin-top: 35px; position: absolute">


    @*@Ajax.ActionLink("Login ", "LoadLogin", "Home", new AjaxOptions()
    {

        HttpMethod = "Get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "LoginFormP"


    }, new { @class = "btn btn-success btn-large glyphicon glyphicon-user" })*@

    <a class="btn btn-success btn-large glyphicon glyphicon-user" 
       data-ajax="true" 
       data-ajax-method="Get"
       data-ajax-mode="replace"
       data-ajax-update="#LoginFormP" href="/Home/LoadLogin?Length=4">Login </a>


</div>

